<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.getbonkers.bottlecaps"
      android:versionCode="12"
      android:versionName="0.1">
    <application android:label="@string/app_name"
                android:icon="@drawable/icon512"
                android:hardwareAccelerated="true">

        <activity android:screenOrientation="portrait" android:name="SplashScreenActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:screenOrientation="portrait" android:name="GameBoardActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity android:screenOrientation="portrait" android:name="GameResultsActivity"
                  android:label="Results"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity android:screenOrientation="portrait" android:name="GameMenuActivity" android:label="Menu" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:screenOrientation="portrait" android:name="CapSetsActivity" android:label="My Caps" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:screenOrientation="portrait" android:name="CapSetActivity" android:label="Cap Set" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:screenOrientation="portrait" android:name="ScoreboardActivity" android:label="Scoreboard" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:screenOrientation="portrait" android:name="BoostsActivity" android:label="Boosts" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:screenOrientation="portrait" android:name="TutorialActivity" android:label="Tutorial" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

    <supports-screen android:largeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <service android:name="BillingService" />

    <receiver android:name="BillingReceiver">
        <intent-filter>
            <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
            <action android:name="com.android.vending.billing.RESPONSE_CODE" />
            <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
        </intent-filter>
    </receiver>

    <uses-sdk android:minSdkVersion="8" android:maxSdkVersion="12" android:targetSdkVersion="12" />
</manifest>